@font-face{
font-family: "merriweather";
src: url(Merriweather/Merriweather-Regular.ttf);	
font-style: normal;
}

body{
font-family: merriweather;
background-color: rgb(211, 215, 222);
}

h1{
margin: 0px;
max-width: 100%;
}

textarea{
height: 120px;
border: none;	
border-radius: 3%;
background-color: rgba(158, 151, 150, 0.7);
width: 75%;
}

button{
text-align: center;
width: 75%;
background-color: #53bab3;
color: white;
border: none;
border-radius: 3%;
height: 40px;
}

footer{
text-align: center;
font-style: italic;
color: rgba(158, 151, 150, 0.9);
padding: 20px 0 20px 0;

}


.container{
padding-left: 1em;
padding-right: 1em;
}


.header{
background-color: #53bab3;
color: white;
text-align: center;
padding: 15px 0px 20px 0px;
font-size: 1.6em;
}

.intro{
text-align: center;
padding-bottom: 15px;
border-bottom: 3px solid grey;
}

.intro 
p{
color: rgba(161, 161, 166, 0.8);
}

.intro h2{
color: #53bab3;
}

fieldset{
border: none;		
}

.col1{
     width: 95%;
   padding-left: 0.5em;
   padding-right: 0.5em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid grey;
    box-shadow: 3px 3px 20px black;
}

.col1 legend{
font-size: 2em;
color: #53bab3;
padding: 10px 0 15px 10px;
}

.col1, input{
display: flex;
flex-direction: row;
justify-content: center;
background-color: white;
margin-top: 10px;
}

.formgroup select label{
padding-bottom: 10px;

}

.formgroup{
color: rgba(189, 187, 181)	;
padding-bottom: 30px;
}

.col1 input, label{
margin-bottom: 20px;

}

.col1 input{
border: none;
width: 250px;
}


/*////// PSEUDO'S \\\\\\\\\*/

input[type="text"]::placeholder{ 
color: rgba(10, 10, 10, .4);
text-align: right;
padding-right: 2.4%;
font-style: italic;
}
input[type="email"]::placeholder{ 
color: rgba(10, 10, 10, .4);
text-align: right;
padding-right: 2.4%;
padding-left: 10px;
font-style: italic;
}

select{ 
width: 400px; text-align-last:center; 
font-size: 20px;
}

input:focus{
outline-color: #53bab3;
color: rgba(0, 0, 0, 0.5);
background-color: white;
}

input[type="text"]{
width: 100%;
background: rgba(206, 219, 218, 0.3);
height: 35px;
}

input[type="tel"]{
width: 100%;
background: rgba(206, 219, 218, 0.3);
height: 35px;
}

input[type="email"]{
width: 100%;
background: rgba(206, 219, 218, 0.3);
height: 35px;
}


.dropdown, label{
border: none;
padding: 15px 0 20px 0;
}


.formgroup select{
width: 200px;
border: none;
height: 35px;
margin-top: 15px;
background-color: rgba(206, 219, 218, 0.3);
color: #53bab3;
}

.col2{
display: flex;
flex-direction: column;
}

.col2 h2, h3{
color: #53bab3;
padding: 30px 0 5px 0px;
font-size: 1.6em;
}

.col2 p{
color: rgba(161, 161, 166, 0.9);
}

.radio input{
display: inline-block;
text-align: right;
}


.checkbox, input{
display: inline;
margin-right: 15px;
}

.col2 input{
margin-left: 10px;
}

.areabutton p{
color: rgba(161, 161, 166, 0.8);
font-size: 1.4em;

}

.areabutton{
text-align: center;
padding-top: 10px;
}

input[id="zip_code"]{
width: 35%;
padding-left: 10px;
}



@media(min-width: 768px){

.col1 legend{
padding: 30px 40px 50px 0px;
	
}

.contailer{
width: 90%;
margin: 0 auto;
}

textarea{
height: 300px;	
}

form{
flex-basis: 60%;
}

fieldset{
padding: 0;
}

.formgroup label{
font-size: 1.3em;
}

.formgroup{
 display: flex;
 align-items: center;
 margin-bottom: 30px;
}

.formgroup label{
  flex: 0 0 146.19px;
 margin: 0 auto 0 0;
 padding: 0;
}


 .formgroup input,
 .formgroup select {
 margin: 0;
 flex: 0 0 70%;
 height: 45px;
 justify-content: space-between;
 }


.areabutton{
display: block;
text-align: center;
}

.col2{
padding-left: 2em;
}

.form-group{
justify-content: space-between;
   flex: 0 0 99.19px;
   display: flex;
  
}
}

.form-group input{
	margin-right: 33%	;
}

.form-group label{
font-size: 1.3em;
color: rgba(158, 151, 150, 0.9);
}

